.processId {
  max-width: 500px;
  margin: 30px auto;
  border: 5px solid grey;
  border-radius: 30px;
  padding: 30px;
  font-size: 1.5rem;
  > .text {
    word-wrap: break-word;
  }

  > .action {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;

    > .process-action {
      background: #585156;
      color: #fff;
      border-radius: 30px;
      padding: 15px;
      border: 5px solid grey;
      font-size: 1.8rem;
    }
  }
}
